body {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://upload-os-bbs.mihoyo.com/upload/2021/02/19/1013950/76ba5fe79beb870740fb495d1bf95a55_6206573447109591426.jpg?x-oss-process=image/auto-orient,0/interlace,1/format,jpg")
      center center;
  background-repeat: repeat;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin: 60px;
  padding: 60px;
  text-align: center;
}

img {
  border-radius: 250px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-size: 18px;
}

a {
  background-color: none;
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px;
  padding: 18px;
  display: block;
  text-align: center;
  margin: 10px;
  color: #ffffff;
  border: solid 2px #ffffff;
  text-decoration: none;
}

a:hover {
  background: #ffffff;
  color: #000;
}

hr {
  margin: 20px;
}

@media (min-width: 320px) and (max-width: 767px) {
  body {
    margin: 20px;
    padding: 20px;
  }
  a {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}
